<table>
	<tr>
		<th><strong>Id</strong></th>
		<td>{{p.agentid}}</td>
	</tr>
	<tr>
		<th><strong>Name</strong></th>
		<td>{{p.agentname}}</td>
	</tr>
	<tr>
		<th><strong>Sex</strong></th>
		<td>{{p.sex}}</td>
	</tr>
	<tr>
		<th><strong>Phone</strong></th>
		<td>{{p.phonenumber}}</td>
	</tr>
	<tr>
		<th><strong>TiensNumber</strong></th>
		<td>{{p.agenttiensnumber}}</td>
	</tr>
	<tr>
		<th><strong>Type</strong></th>
		<td>{{p.idtype}}</td>
	</tr>
	<tr>
		<th><strong>Number</strong></th>
		<td>{{p.idnumber}}</td>
	</tr>
	<tr>
		<th><strong>Level</strong></th>
		<td>{{p.agentlevel}}</td>
	</tr>
	<tr>
		<th><strong>Start</strong></th>
		<td>{{p.startdate}}</td>
	</tr>
	<tr>
		<th><strong>End</strong></th>
		<td>{{p.enddate}}</td>
	</tr>
	<tr>
		<th><strong>Bank</strong></th>
		<td>{{p.bankname}}</td>
	</tr>
	<tr>
		<th><strong>CardNumber</strong></th>
		<td>{{p.bankcardnumber}}</td>
	</tr>
</table>